# An Analysis of Childcare Prices Across the United States
## Drake Capstone Project
### Author: Cera Drake
### June 2025

##### Import and load the dataset

In [41]:
import pandas as pd

df = pd.read_csv("nationaldatabaseofchildcareprices.csv", encoding='latin1')  
print(df.head())

  State_Name State_Abbreviation     County_Name  County_FIPS_Code  StudyYear  \
0    Alabama                 AL  Autauga County              1001       2008
1    Alabama                 AL  Autauga County              1001       2009
2    Alabama                 AL  Autauga County              1001       2010
3    Alabama                 AL  Autauga County              1001       2011
4    Alabama                 AL  Autauga County              1001       2012

   UNR_16  FUNR_16  MUNR_16  UNR_20to64  FUNR_20to64  ...  MFCCToddler  \
0    5.42     4.41     6.32         4.6          3.5  ...      $83.45
1    5.93     5.72     6.11         4.8          4.6  ...      $87.39
2    6.21     5.57     6.78         5.1          4.6  ...      $91.33
3    7.55     8.13     7.03         6.2          6.3  ...      $95.28
4    8.60     8.88     8.29         6.7          6.4  ...      $99.22

   MFCCToddler_flag  MFCCPreschool  MFCCPreschool_flag  _75FCCInfant  \
0               3.0        $81.40                  1.0       $97.40
1               3.0        $85.68                  1.0      $102.00
2               3.0        $89.96                  1.0      $106.60
3               3.0        $94.25                  1.0      $111.20
4               3.0        $98.53                  1.0      $115.80

   _75FCCInfant_flag  _75FCCToddler  _75FCCToddler_flag _75FCCPreschool  \
0                1.0        $97.40                  3.0         $95.00
1                1.0       $102.00                  3.0        $100.00
2                1.0       $106.60                  3.0        $105.00
3                1.0       $111.20                  3.0        $110.00
4                1.0       $115.80                  3.0        $115.00

  _75FCCPreschool_flag
0                  1.0
1                  1.0
2                  1.0
3                  1.0
4                  1.0

[5 rows x 227 columns]

In [42]:
df = pd.read_csv("nationaldatabaseofchildcareprices.csv", encoding= 'latin1')
rows, columns = df.shape

print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 34567
Number of columns: 227

In [43]:
df.columns

Index(['State_Name', 'State_Abbreviation', 'County_Name', 'County_FIPS_Code',
       'StudyYear', 'UNR_16', 'FUNR_16', 'MUNR_16', 'UNR_20to64',
       'FUNR_20to64',
       ...
       'MFCCToddler', 'MFCCToddler_flag', 'MFCCPreschool',
       'MFCCPreschool_flag', '_75FCCInfant', '_75FCCInfant_flag',
       '_75FCCToddler', '_75FCCToddler_flag', '_75FCCPreschool',
       '_75FCCPreschool_flag'],
      dtype='object', length=227)

### Clean the Data

In [44]:
# View the missing data
missing = df.isnull().sum()
print(missing[missing > 0])

H_Under6_SingleM            2
H_6to17_SingleM             2
MCBto5                  10974
MC6to11                 10974
MC12to17                10974
                        ...
_75FCCInfant_flag       11184
_75FCCToddler           11184
_75FCCToddler_flag      11184
_75FCCPreschool         11184
_75FCCPreschool_flag    11184
Length: 114, dtype: int64

In [45]:
# See what percentage of columns have missing data in the columns that I will be using
missing = df[[
    '_75FCCInfant', '_75FCCToddler', '_75FCCPreschool',
    '_75CInfant', '_75CToddler', '_75CPreschool'
]].isnull().mean() * 100

print(missing)

_75FCCInfant       32.354558
_75FCCToddler      32.354558
_75FCCPreschool    32.354558
_75CInfant         31.747042
_75CToddler        31.747042
_75CPreschool      31.747042
dtype: float64

In [46]:
# See what percentage of columns have missing data in the columns that I will be using
missing = df[[
    '_75FCCInfant_flag', '_75FCCToddler_flag', '_75FCCPreschool_flag',
    '_75CInfant_flag', '_75CToddler_flag', '_75CPreschool_flag'
]].isnull().mean() * 100

print(missing)

_75FCCInfant_flag       32.354558
_75FCCToddler_flag      32.354558
_75FCCPreschool_flag    32.354558
_75CInfant_flag         31.747042
_75CToddler_flag        31.747042
_75CPreschool_flag      31.747042
dtype: float64

In [47]:
# Over 30% of the rows in each of the columns I want to use has missing data. That is too much. Let's limit it to more recent years
# Filter for years 2014-2018
df_recent = df[df['StudyYear'].between(2014, 2018)]

In [48]:
# Keep only the columns I want to use
columns_to_use = [
    'State_Name', 'StudyYear',
    '_75FCCInfant', '_75FCCToddler', '_75FCCPreschool',
    '_75CInfant', '_75CToddler', '_75CPreschool'
]
df_recent = df_recent[columns_to_use]

In [49]:
# Remove missing values
df_clean = df_recent.dropna()

In [50]:
#Show remaining data
print("Number of rows after filtering:", len(df_clean))
print("Number of unique states:", df_clean['State_Name'].nunique())
print("Years included:", df_clean['StudyYear'].unique())

Number of rows after filtering: 12045
Number of unique states: 48
Years included: [2014 2015 2016 2017 2018]

In [51]:
df_clean.to_csv("cleaned_childcare_data.csv", index=False)